extends ../layout

block content
	form.ty_admin_article(action="/admin/interesting",method="post")
		h2 小玩意录入
		h3 标题
		input.ty_admin_TitArticle(type="text",name="article[title]")
		h3 摘要
		textarea.ty_admin_ConArticle(name="article[summary]")
		input.ty_admin_SubArticle(type="submit",value="提交")
	script(src="/libs/js/admin.js")